.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 1;

  .container {
    display: flex;
    justify-content: end;
  }

  .button {
    padding: 10px 16px;
  }
}