@use 'theme';

.hero {
  position: relative;
  min-height: 70vh;

  .container {
    background-image: url(../images/hero-bg-mobile.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;

    @media (min-width: theme.$break--md) {
      background-image: url(../images//hero-bg-tablet-desktop.jpeg);
      background-position: 0;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45vw 0 5.6vw 0;

    @media (min-width: theme.$break--md) {
      align-items: start;
      width: 60%;
      max-width: 650px;
      min-width: 500px;
      padding: min(100px, 10vw) 0 min(100px, 10vw) 0;
    }
    
    .title, .text--sm {
      text-align: center;

      @media (min-width: theme.$break--md) {
        text-align: start;
      }
    }
    .button {
      width: 100%;
      display: block;
    }
    img {
      width: 180px;
    }
  }
}