
@use 'theme';
@use 'layout';
@use 'modules';

@use '_hero';
@use '_header';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
body {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Avenir';
  color: theme.$color-primary;
  background-color: theme.$page-background;
  position: relative;
}

a {
  color: theme.$color-secundary;
  text-decoration: underline;
  font-size: inherit;
}