.icon {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;

  @mixin Icon($imageUrl) {
    &::before {
      content: '';
      background-image: url($imageUrl);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &--correct {
    @include Icon("../images/icon-correct.svg");
  }
  &--hyphen {
    @include Icon("../images/icon-hyphen.svg");
  }
  &--global {
    @include Icon("../images/icon-global.svg");
  }
}


.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  &__item {
    background-color: #1d1f2b;

    &--opened {
      .accordion__body {
        grid-template-rows: 1fr;

        &__container {
          padding-bottom: 24px;
        }
      }  
      .accordion__icon::after {
        transform: translate(-50%, -50%) rotate(0deg);
      }  
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 24px;
    cursor: pointer;

    .text {
      font-weight: bold;
      color: white;
    }
  }

  &__body {
    display: grid;
    grid-template-rows: 0fr;
    transition: all .4s ease;
    
    &__container {
      transition: all .4s ease;
      overflow: hidden;
      padding: 0 24px 0 24px;
    } 
  }

  &__icon {
    width: 24px;
    height: 24px;
    position: relative;
    display: block;

    @mixin pseudoElements($rotate: 0deg) {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate($rotate);
      transition: transform .3s ease;
      background-color: white;
    }

    &::before {
      @include pseudoElements();
    }
    &::after {
      @include pseudoElements(90deg);
    }
  }
}

.list {
  padding-left: calc(20px + 1rem);
  margin: 0.5rem 0;
  
  &__item {
    line-height: 32px;
    
    &::marker {
      display: block;
    }
  }
}